{% extends "base.html" %}
{% block jumbo_block %}
<h1>Dashboard</h1>
{% if all_lightchannels_list %}
<table style="width:100%">
    <tr>
        <td>Channel</td>
        <td>Current value</td>
    </tr>
    {% for channel in all_lightchannels_list %}
    <tr>
        <td><a href="{% url 'detail' channel.id %}">{{ channel }}</a></td>
        <td>{{ channel.current_percentage }} %</td>
    </tr>
    {% endfor %}
</table>

{% else %}
    <p>No schedules are setup yet!</p>
{% endif %}
    <p><a class="btn btn-primary btn-sm" href="/admin/lightcontrol" role="button">Change settings &raquo;</a></p>
{% endblock %}